<p>lobby works!</p>

<form [formGroup]="myForm">
  Value: {{ myForm.value | json }}
  <hr>

  <input type="text" formControlName="message">

  <button (click)="sendMessage()">Send Message</button>

</form>


<p *ngFor="let msg of messages">{{ msg }}</p>
